<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 39.4px;">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.png">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>57 Club</title>
    <link rel="stylesheet" href="/HASH/assets/index.09a146d4.css">
    <link rel="stylesheet" href="/HASH/assets/index.74168ddf.css">
    <link rel="stylesheet" href="/HASH/assets/Tabbar.caeb7051.css">
    <link rel="stylesheet" href="/HASH/assets/ClaimExperienceFunds.ae3695bc.css">
    <link rel="stylesheet" href="/HASH/assets/BetStatus.f942056a.css">
    <link rel="stylesheet" href="/HASH/assets/UserAvatar.09b469c8.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/HASH/assets/index.bb020c9b.css">
    <link rel="stylesheet" href="/HASH/assets/index.c8b2a4fa.css">
    <link rel="stylesheet" href="/HASH/assets/index.f46826a9.css">
    <link rel="stylesheet" href="/HASH/assets/index.8bc774e5.css">
    <link rel="stylesheet" href="/HASH/assets/WayType.71be10bc.css">
    <link rel="stylesheet" href="/HASH/assets/index.1406817f.css">
    <link rel="stylesheet" href="/HASH/assets/Scale.334c6b5e.css">
</head>

<body theme="dark" class="">
    <div id="app" data-v-app="">
        <div class="appMain en-US disable-select">
            <div class="van-config-provider">
                <div>
                    <div class="van-nav-bar van-nav-bar--fixed van-safe-area-top"
                        style="z-index: 111; background: transparent; backdrop-filter: blur(5px);">
                        <div class="van-nav-bar__content">
                            <div onclick="location.href='/promotion'" class="van-nav-bar__left van-haptics-feedback"><i
                                    class="ri-arrow-left-line text-[2.5rem] color-white"></i></div>
                            <div class="van-nav-bar__title van-ellipsis">Team Invitation Rules</div>
                            <div class="van-nav-bar__right van-haptics-feedback"></div>
                        </div>
                    </div>
                    <div style="height: 4.6rem;"></div>
                    <div id="docHtml">
                        <figure class="wp-block-image size-large"><img loading="lazy" decoding="async" width="829"
                                height="1024"
                                src="/HASH/image-26-829x1024.png"
                                alt="" class="wp-image-94"
                                srcset="https://iiiiiiii.awdpixel.com/wp-content/uploads/2024/04/image-26-829x1024.png 829w, https://iiiiiiii.awdpixel.com/wp-content/uploads/2024/04/image-26-243x300.png 243w, https://iiiiiiii.awdpixel.com/wp-content/uploads/2024/04/image-26-768x948.png 768w, https://iiiiiiii.awdpixel.com/wp-content/uploads/2024/04/image-26.png 1044w"
                                sizes="(max-width: 829px) 100vw, 829px"></figure>



                        <p></p>



                        <p id="w-e-element-270"><strong>Rule one:</strong></p>



                        <p id="w-e-element-272">The team list is currently divided into 2 direct levels,</p>



                        <p id="w-e-element-274">such as Level 1 inviting Level 2, Level 2 inviting Level 3, and so on.
                        </p>



                        <p id="w-e-element-280">1. Level 2 is the first-level direct subordinate of Level 1,</p>



                        <p id="w-e-element-282">and Level 3 is the second-level direct subordinate of Level 1.</p>



                        <p id="w-e-element-284">2. Level 1 represents oneself.</p>



                        <p id="w-e-element-290">Assumption:</p>



                        <p id="w-e-element-292">1. If the daily bet amount of Level 2 reaches ₹100,000,</p>



                        <p id="w-e-element-294">Level 1 will receive 0.6% of ₹100,000, which is ₹600.</p>



                        <p id="w-e-element-296">2. If the daily bet amount of Level 3 reaches ₹100,000,</p>



                        <p id="w-e-element-298">Level 1 will receive 0.15% of ₹100,000, which is ₹150.</p>



                        <p id="w-e-element-300">Overall additional return commission income that day:</p>



                        <p id="w-e-element-302">₹600 + ₹150 = ₹750</p>



                        <p id="w-e-element-308"><strong>Rule two</strong></p>



                        <p id="w-e-element-310">When you invite friends to register, you can complete</p>



                        <p id="w-e-element-312">the registration through link, two-dimensional code</p>



                        <p id="w-e-element-314">and copy invitation code and become your team member.</p>



                        <p id="w-e-element-320"><strong>Rule three:</strong></p>



                        <p id="w-e-element-322">The team commission is calculated based on the effective</p>



                        <p id="w-e-element-324">bets of the team members, and the platform collects</p>



                        <p id="w-e-element-326">real-time statistics and automatically distributes it to the balance
                            account.</p>



                        <p id="w-e-element-332"><strong>Rule four:</strong></p>



                        <p id="w-e-element-334">More team direct levels will be opened successively.</p>



                        <p id="w-e-element-336">The higher the team performance, the more bonuses</p>



                        <p id="w-e-element-338">and benefits there will be, along with exclusive customized benefits.
                        </p>



                        <p id="w-e-element-340">For further information, please contact customer service.</p>



                        <p id="w-e-element-346"><strong>Rule five:</strong></p>



                        <p id="w-e-element-348">The final interpretation of this activity is owned by</p>



                        <p id="w-e-element-350">WIN STAR Entertainment Group.</p>
                    </div>
                </div>
            </div>
            <div class="hidden"><audio id="dotRef">
                    <source src="/mp3/dot.ogg" type="audio/ogg">
                    <source src="/mp3/dot.mp3" type="audio/mpeg">
                </audio><audio id="successRef">
                    <source src="/mp3/success.ogg" type="audio/ogg">
                    <source src="/mp3/success.mp3" type="audio/mpeg">
                </audio></div>
            <div class="van-back-top__placeholder"></div>
            <div></div>
            <div data-v-0462f2bd=""></div><!---->
        </div>
    </div>



</body><!--  -->

</html>