
<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 39.4px;"><head>
<meta charset="UTF-8">
<link rel="icon" type="image/svg+xml" href="/damangame.png">
<meta name="google" content="notranslate">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>76club</title>
  <script src="/js/block.js"></script>
  <link href="css/app.21328c5b.css" rel="stylesheet">
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css">
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css">
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css">
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="https://tirangagame.in/assets/css/audio-67b53984.css" />
  <link rel="stylesheet" href="https://91club03.com/assets/css/index-efccee70.css">
  <style>
    html,
    body {
      height: 100%;
      width: 100%; 
      background-color: #090909;
      padding: 0;
      margin: 0;
    }
    .block-click {
      pointer-events: none;
    }
    .d-none {
      display: none!important;
    }
    
    .game .bet-box .bet-con .check-box .item .li .name[data-v-03b808c2]{
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-size: 25px;
    }
    
    .game-list .tab .li .txt[data-v-03b808c2]{
    border: .02667rem solid #f9595900;
    }
    
    .game-betting .tab .box .item.action{
        color:#fff;
        font-weight:800;
    }
    
    .game-head .total-box .total-btn .item[data-v-a9660e98]{
    font-weight:900
    }
    
    .game-head .total-box .total-btn[data-v-a9660e98]{
    padding:0px;
    margin-top:14px;
    }
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-03b808c2="" class="mian game">
      <div data-v-106b99c8="" data-v-03b808c2="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center"><img data-v-03b808c2="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back"></div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-03b808c2="" data-v-106b99c8="" src="/logo.png" class="logo" style="width: 2.98667rem;height: 1.12rem;background-repeat: no-repeat;background-size: 2.98667rem 1.12rem;background-position: center;">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center" onclick="location.href='/keFuMenu'">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio">
            </div>
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume">
            </div>
          </div>
        </div>
      </div>
      <div data-v-a9660e98="" class="game-head">
        <div data-v-a9660e98="" class="total-box">
          <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
            <div data-v-a9660e98="" class="c-row c-row-middle">
              <div data-v-a9660e98="" class="num">
                <!----><span data-v-a9660e98="" class="moneyU">₹ Loading...</span>
              </div>
              <img data-v-a9660e98="" style="width: 20px; height: 20px;margin-left:2px;"
                onclick="alertMess('Refresh Successfully', this, 'success')"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAOVBMVEUAAACjo6OgoKCjo6OhoaGjo6Ofn5+np6ejo6Ojo6OlpaWioqKkpKSjo6Ojo6Ojo6Ojo6OkpKSjo6PuE3LfAAAAEnRSTlMAf0C/H98QIM/vMGCfj29Qr1+b1SuLAAAA4UlEQVQ4y+3Sy3aEIBBF0eJR8hCx+/7/x8amdCVCZYUMetZnpm4BBfr05hbblX+lEX2pBJ1uUDKTK1ojUGgyA2z/sHmcbVetG4YNDHBQaEXqxjykbj3gbzceSIdUbUcN8ARyQlz+oBUwHqC7dTF8000ehISNXpQsflh5T6gBrHw8L0JpBR6nlDmE7ucOZ7CnRsVe9AVio4GvAexCjcqFPaG8Vw6a27RXQrvEAg7sh189VNHa7/sFWP24AEY5F0qri3VcVwo0GYNnbU7g56xlgIvp0mfyBWNMer4W11Xp03v7Att9D7xKb3uAAAAAAElFTkSuQmCC">
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
              <div data-v-a9660e98="" class="m-r-10">
                <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAAe1BMVEUAAAD/P1T/PlP/9C3/R2T/Hzr/Ijv/Jz7/IDr/Mk7/O1L/Hzr/O1L/Nk7/Qlj/Qlz/IDr/PVP/ITv/Ij3/Hzr/PFL/1DL/8i//Ijz/O1L/8yv/Hzr/rjr/xTX/3C//6C3/aUj/ojz/Uk3/Xkr/lz7/RlD/dUb/hkH/0TJEpa1CAAAAGXRSTlMAYWKgE++BQsAi7+DbUkIysKCRcd/AwGJhd8HDxwAAARFJREFUWMPt1ElvgzAQhmHS2kAIS5ZueMAQyPb/f2E1VavK0OaQ+Q6RMu/JFz+yzOBI0/5uieVMbGOkl6yIrMFxKXFbEGe29F0C8WJLP6Wgy/utEI9KSkEvRjgqNE00OjtLs+xSNirz1rde3pr+KbnxP5tBktH5WNGVdtdOsslqQdlm+onyWthr6JW1uCoAF3LwSUEFFVRQQQjYN96FPUvAsWUCB46dg4IDe0iwdViwd2Bw77jD6exBYPvl8VGR4MgrjwEb3t7zqsOAZ95+GfgyMeDRcV3bOQwYnAwDHj0S5IYLFOQOHgpyp30T9PZ+Zy+2ggoqeI9gIQfLADSZ1MtNFFTlMi+rokmmXAgqTKQ9UJ9lIW92vx/DqgAAAABJRU5ErkJggg=="
                    class="van-image__img wallimg" />
                </div>
              </div>
              <div data-v-a9660e98="">
                <span>Wallet</span>
                <span>Balance</span>

              </div>
            </div>

          </div>
          <div data-v-a9660e98="" class="total-btn c-row c-row-between">
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
              <button data-v-a9660e98="" style="border-color: #FB5B5B;background: #FB5B5B; color:#fff;"
                class="btn van-button van-button--default van-button--normal van-button--block van-button--round">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    Withdraw
                  </span>
                </div>
              </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
              <button data-v-a9660e98=""
                class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="
                    color: #fff;
                    background: #18B660;
                    border-color: #18B660;
                  ">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    Deposit
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div><div data-v-a9660e98="" class="m-t-15 notice">
    <div data-v-5d71c3fd="" class="noticeBar__container lottery-notice">
    <svg data-v-b4633b52="" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_589_37747)">
                        <path d="M15.9993 4V28C11.3327 28 7.86502 21.8927 7.86502 21.8927H3.99935C3.26297 21.8927 2.66602 21.2958 2.66602 20.5594V11.3405C2.66602 10.6041 3.26297 10.0072 3.99935 10.0072H7.86502C7.86502 10.0072 11.3327 4 15.9993 4Z" fill="url(#paint0_linear_589_37747)"></path>
                        <path d="M21.334 10C21.7495 10.371 22.1261 10.7865 22.4567 11.2392C23.4265 12.5669 24.0007 14.2149 24.0007 16C24.0007 17.7697 23.4363 19.4045 22.4819 20.7262C22.1452 21.1923 21.7601 21.6195 21.334 22" stroke="url(#paint1_linear_589_37747)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M22.8242 27.4571C26.7227 25.1302 29.3336 20.87 29.3336 16C29.3336 11.2057 26.8031 7.00234 23.005 4.65271" stroke="url(#paint2_linear_589_37747)" stroke-width="1.8" stroke-linecap="round"></path>
                    </g>
                    <defs>
                        <linearGradient id="paint0_linear_589_37747" x1="9.33268" y1="4" x2="9.33268" y2="28" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF7C7C"></stop>
                            <stop offset="0.74876" stop-color="#F54545"></stop>
                        </linearGradient>
                        <linearGradient id="paint1_linear_589_37747" x1="22.6673" y1="10" x2="22.6673" y2="22" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF7C7C"></stop>
                            <stop offset="0.74876" stop-color="#F54545"></stop>
                        </linearGradient>
                        <linearGradient id="paint2_linear_589_37747" x1="26.0789" y1="4.65271" x2="26.0789" y2="27.4571" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FF7C7C"></stop>
                            <stop offset="0.74876" stop-color="#F54545"></stop>
                        </linearGradient>
                        <clipPath id="clip0_589_37747">
                            <rect width="32" height="32" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg>
        <div class="noticeBar__container-body">
            <div class="noticeBar__container-body-text">Our customer service never send a link to the member,if you
                received a link from someone who pro-claimed as 91club customer service do not click the link to prevent
                being hack or lost data. Thank you.</div>
        </div><button class="hotIcon">Detail</button>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="game-betting">
    <div data-v-03b808c2="" class="tab">
        <div data-v-03b808c2="" class="box c-row game-minutes">
            <div data="1" data-v-03b808c2="" class="item c-tc action">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li"></span>
                </div>
                <div data="1" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px;">
                        <img src="https://91club06.com/assets/png/time_a-f83ed4c7.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px; display: none;">
                        <img src="https://www.9987up.club/assets/png/time-5d4e96a3.png" class="van-image__img">
                    </div>
                </div>
                <div data="1" data-v-03b808c2="" class="txt c-tc" >K3 Lotre  1Min</div>
            </div>
            <div data="3" data-v-03b808c2="" class="item c-tc">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li"></span>
                </div>
                <div data="3" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="https://91club06.com/assets/png/time_a-f83ed4c7.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="https://www.9987up.club/assets/png/time-5d4e96a3.png" class="van-image__img">
                    </div>
                </div>
                <div data="3" data-v-03b808c2="" class="txt c-tc">K3 Lotre  3Min</div>
            </div>
            <div data="5" data-v-03b808c2="" class="item c-tc">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li"></span>
                </div>
                <div data="5" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="https://91club06.com/assets/png/time_a-f83ed4c7.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="https://www.9987up.club/assets/png/time-5d4e96a3.png" class="van-image__img">
                    </div>
                </div>
                <div data="5" data-v-03b808c2="" class="txt c-tc">K3 Lotre  5Min</div>
            </div>
            <div data="10" data-v-03b808c2="" class="item c-tc">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li"></span>
                </div>
                <div data="10" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="https://91club06.com/assets/png/time_a-f83ed4c7.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="https://www.9987up.club/assets/png/time-5d4e96a3.png" class="van-image__img">
                    </div>
                </div>
                <div data="10" data-v-03b808c2="" class="txt c-tc">K3 Lotre  10Min</div>
            </div>
        </div>
    </div>
       
    <div data-v-03b808c2="" class="content">
        <div data-v-03b808c2="" class="page-box">
            <div data-v-03b808c2="" class="flex-row-between period-title">
            <span data-v-03b808c2="" style="font-weight:900; font-size:19px;">Period</span>
            
              <div data-v-a9660e98="" class="txt open-c" 
                        style="border: 0.03667rem solid rgba(135, 68, 4, 1);
                        font-size: .26667rem;
                        color: rgba(135, 68, 4, 1);
                        border-radius: 20px;
                        margin-bottom: 0.26667rem;
                        padding: 5px 20px;
                        display: flex;
                        align-items: center;
                        margin-left: -94px;
                        margin-top:8px;
                        justify-content: center;
                        font-weight: 900;"> 
              <svg data-v-3e4c6499="" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 36 36" fill="none" style="height: 10px;margin-left: -7px;"><path data-v-3e4c6499="" d="M23.67 3H12.33C6.66 3 5.25 4.515 5.25 10.56V27.45C5.25 31.44 7.44 32.385 10.095 29.535L10.11 29.52C11.34 28.215 13.215 28.32 14.28 29.745L15.795 31.77C17.01 33.375 18.975 33.375 20.19 31.77L21.705 29.745C22.785 28.305 24.66 28.2 25.89 29.52C28.56 32.37 30.735 31.425 30.735 27.435V10.56C30.75 4.515 29.34 3 23.67 3ZM11.67 18C10.845 18 10.17 17.325 10.17 16.5C10.17 15.675 10.845 15 11.67 15C12.495 15 13.17 15.675 13.17 16.5C13.17 17.325 12.495 18 11.67 18ZM11.67 12C10.845 12 10.17 11.325 10.17 10.5C10.17 9.675 10.845 9 11.67 9C12.495 9 13.17 9.675 13.17 10.5C13.17 11.325 12.495 12 11.67 12ZM24.345 17.625H16.095C15.48 17.625 14.97 17.115 14.97 16.5C14.97 15.885 15.48 15.375 16.095 15.375H24.345C24.96 15.375 25.47 15.885 25.47 16.5C25.47 17.115 24.96 17.625 24.345 17.625ZM24.345 11.625H16.095C15.48 11.625 14.97 11.115 14.97 10.5C14.97 9.885 15.48 9.375 16.095 9.375H24.345C24.96 9.375 25.47 9.885 25.47 10.5C25.47 11.115 24.96 11.625 24.345 11.625Z" fill="currentColor"></path>
              </svg>How to play</div>
            <span data-v-03b808c2=""> Time Left</span></div>
            <div data-v-03b808c2="" class="flex-row-between flex-center period-span"><span
                    data-v-03b808c2="" id="period"></span>
                <div data-v-03b808c2="" class="flex-row-end">
                    <div data-v-03b808c2="" class="li-item">0</div>
                    <div data-v-03b808c2="" class="li-item">0</div><span data-v-03b808c2="" class="li-symbol">:</span>
                    <div data-v-03b808c2="" class="li-item">4</div>
                    <div data-v-03b808c2="" class="li-item">4</div>
                </div> 
            </div>
        </div>
        <div data-v-03b808c2="" style="text-align: center;">
            <div data-v-03b808c2="" class="slot-inner">
                <div data-v-03b808c2="" class="d5-slot-box">
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg5"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg6"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-03b808c2="" class="bet-box">
            <div data-v-03b808c2="" class="bet-mark">
                <div data-v-03b808c2="" class="mark-box c-row c-row-middle-center" style="display: none;">
                    <span data-v-03b808c2="" class="item m-r-20">0</span>
                    <span data-v-03b808c2="" class="item m-l-20">0</span>
                </div><br>
                <div data-v-03b808c2="" class="bet-tab">
                <ul data-v-03b808c2="" class="c-row c-row-between" style="font-weight:800;">
                    <li data-v-03b808c2="" game="1" class="item action block-click">Total</li>
                    <li data-v-03b808c2="" game="2" class=" item">2 Same</li>
                    <li data-v-03b808c2="" game="3" class=" item">3 Same</li>
                    <li data-v-03b808c2="" game="4" class=" item">Different</li>
                </ul>
                </div>
                <div data-v-03b808c2="" game="1" class="bet-con">
                    <div data-v-03b808c2="" class="check-box c-row c-flex-warp c-row-between list-join-total">
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="3" data-join="3">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">3</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="4" data-join="4">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">4</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="5">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">5</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="6">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">6</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="7">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">7</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="8">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">8</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="9">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">9</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3X</span></div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="10">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">10</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="11">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">11</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="12" data-join="12">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">12</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="13" data-join="13">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">13</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="14" data-join="14">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">14</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="15" data-join="15">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">15</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="16" data-join="16">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">16</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="17" data-join="17">
                                <div data-v-03b808c2="" class="name" style="color:#f95959">17</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="18" data-join="18">
                                <div data-v-03b808c2="" class="name" style="color:#18B660">18</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item bigs">
                            <div data-v-03b808c2="" class="li" data="b" data-join="Big">
                                <div data-v-03b808c2="" class="name" style=" background-image: none !important;font-size:10px;">Big</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item smalls">
                            <div data-v-03b808c2="" class="li" data="s" data-join="Small">
                                <div data-v-03b808c2="" class="name" style=" background-image: none !important;font-size:10px;">Small</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item oddss">
                            <div data-v-03b808c2="" class="li" data="l" data-join="odd">
                                <div data-v-03b808c2="" class="name" style=" background-image: none !important;font-size:10px;">Odd</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item evens">
                            <div data-v-03b808c2="" class="li" data="c" data-join="even">
                                <div data-v-03b808c2="" class="name" style=" background-image: none !important;font-size:10px;">Even</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-03b808c2="" game="2" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 2 suitable numbers：Odds <span data-v-03b808c2="">13.83</span></div>
                    <div data-v-03b808c2="" data="chon-2-so-phu-hop" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" game="2_1" data="11" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="22" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="33" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="44" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="55" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="66" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">If the lottery result matches 2 numbers you bet, you will win the prize. (Except for three identical numbers).</div>
                    <div data-v-03b808c2="" class="title">Choose a unique pair of numbers：Odds <span data-v-03b808c2="">69.12</span></div>
                    <div data-v-03b808c2="" hang="1" data="Select 1 unique pair" class="num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="11" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" data="22" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" data="33" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" data="44" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" data="55" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" data="66" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" hang="2" data="chon-1-cap-duy-nhat" class="num-box green c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Select at least 1 pair of identical numbers and 1 different number to place a bet. If the lottery result matches the numbers you bet, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="3" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 unique numbers：odds <span data-v-03b808c2="">207.36</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="111" class="item">
                            <!---->
                            <div data-v-03b808c2="">111</div>
                        </div>
                        <div data-v-03b808c2="" data="222" class="item">
                            <!---->
                            <div data-v-03b808c2="">222</div>
                        </div>
                        <div data-v-03b808c2="" data="333" class="item">
                            <!---->
                            <div data-v-03b808c2="">333</div>
                        </div>
                        <div data-v-03b808c2="" data="444" class="item">
                            <!---->
                            <div data-v-03b808c2="">444</div>
                        </div>
                        <div data-v-03b808c2="" data="555" class="item">
                            <!---->
                            <div data-v-03b808c2="">555</div>
                        </div>
                        <div data-v-03b808c2="" data="666" class="item">
                            <!---->
                            <div data-v-03b808c2="">666</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">* If the lottery result matches the 3 numbers you bet, you will win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 identical numbers: Odds <span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 identical numbers</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three identical numbers, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="4" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 different numbers: Odds<span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">Choose 3 or more numbers. If the three numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 consecutive numbers: Odds <span data-v-03b808c2="">8.64</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 consecutive numbers.</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three consecutive numbers, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 2 different numbers: Odd<span data-v-03b808c2="">6.91</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Choose 2 or more numbers, if two numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                </div>
            </div>
        </div>
    </div>
</div>      <div data-v-03b808c2="" class="game-list p-b-20">
    <div data-v-03b808c2="" class="tab c-row c-row-between">
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt action block-click" id="history"> Game History </span>
        </div>
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt" id="myBet"> My Bet</span>
        </div>
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt" id="trends">Trends</span>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box" style="
            margin: 0.48rem auto 0;
            text-align: center;
            font-size: .32rem;">
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="wrap header-history">
                <div data-v-03b808c2="" class="c-tc van-row">
                    <div data-v-03b808c2="" class="van-col van-col--6"> Period</div>
                    <div data-v-03b808c2="" class="van-col van-col--4"> Sum </div>
                    <div data-v-03b808c2="" class="van-col van-col--5">Big/Small</div>
                    <div data-v-03b808c2="" class="van-col van-col--4">Odd/Even</div>
                    <div data-v-03b808c2="" class="van-col van-col--5"> Results </div>
                </div>
            </div>
            <div data-v-03b808c2="">
                <div data-v-03b808c2="" class="hb" id="list_order">
                    <!---->
                </div>
                <div data-v-03b808c2="" class="hb" id="list_mybet">
                    <!---->
                </div>
                <div data-v-03b808c2="" class="hb" id="list_trends">
                    <!---->
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>
        <div data-v-03b808c2="" class="page-nav c-row c-row-center c-tc">
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center block-click" id="previous">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px;"></i>
            </div>
            <div data-v-03b808c2="" class="number" id="number_result" data-select="all">1/1</div>
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center action" id="next">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow icon action" style="font-size: 20px;"></i>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box p-b-20" style="display: none;">
        <div data-v-03b808c2="" class="c-row c-flew-end p-r-20">
            <div data-v-03b808c2="" class="bettingMore c-tc c-row c-row-middle-center">
                Hơn
                <i data-v-03b808c2="" class="van-icon van-icon-arrow" style="color: rgb(84, 94, 104); font-size: 15px;"></i>
            </div>
        </div>
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="p-t-5 p-b-5">
                <div data-v-03b808c2="" class="van-empty">
                    <div class="van-empty__image"><img src="/images/empty-image-default.png"></div>
                    <p class="van-empty__description">No data</p>
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>

    </div>
</div>      <div data-v-03b808c2="" class="van-popup van-popup--round van-popup--bottom pop-total"
    style="max-width: 10rem; left: auto; box-shadow: rgba(63, 69, 83, 0.3) 0px -10px 20px 0px; z-index: 2004;transform: translateY(400px);transition: transform .5s,-webkit-transform .5s;"
    >
    <div data-v-03b808c2="" class="betting-mark">
        <div data-v-03b808c2="" class="info">
            <div data-v-03b808c2="" class="Bet-box">
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle list-join-ao" style="color: #fff">
                    <span data-v-03b808c2="" game="1">Sum：</span>
                    <span data-v-03b808c2="" game="2_1" class="d-none">Choose 2 suitable numbers：</span>
                    <span data-v-03b808c2="" game="3" class="d-none">Choose 3 unique numbers：</span>
                    <span data-v-03b808c2="" game="4" class="d-none">Choose 3 different numbers：</span>
                </ul>
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle d-none" game="2_2">
                    <!----->
                </ul>
                <ul data-v-03b808c2="" class="c-row c-flex-warp c-row-middle d-none" game="4">
                    <span data-v-03b808c2="">Choose 2 different numbers：</span>
                </ul>
                <div data-v-03b808c2="" class="actionBtn d-none">Choose 3 identical numbers</div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-between">
                <div data-v-03b808c2="" class="tit">Amount</div>
                <div data-v-03b808c2="" class="c-row amount-box">
                    <div data-v-03b808c2="" value="1" class="li action">1</div>
                    <div data-v-03b808c2="" value="10" class="li">10</div>
                    <div data-v-03b808c2="" value="100" class="li">100</div>
                    <div data-v-03b808c2="" value="1000" class="li">1000</div>
                </div>
            </div> 
            <div data-v-03b808c2="" class="item c-row c-row-between">
                <div data-v-03b808c2="" class="tit">Quantity</div>
                <div data-v-03b808c2="" class="c-row c-row-between stepper-box minus-plus">
                    <div data-v-03b808c2="" class="li minus">-</div>
                    <div data-v-03b808c2="" class="digit-box van-cell van-field">
                        <div class="van-cell__value van-cell__value--alone van-field__value">
                            <div class="van-field__body">
                                <input type="tel" value="1" oninput="value=value.replace(/\D/g,'')" inputmode="numeric" class="van-field__control xvalue">
                            </div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="li plus c-row c-row-middle-center action">+</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-flew-end">
                <div data-v-03b808c2="" class="c-row multiple-box">
                    <div data-v-03b808c2="" value="1" class="li action">X1</div>
                    <div data-v-03b808c2="" value="5" class="li">X5</div>
                    <div data-v-03b808c2="" value="10" class="li">X10</div>
                    <div data-v-03b808c2="" value="20" class="li">X20</div>
                    <div data-v-03b808c2="" value="50" class="li">X50</div>
                    <div data-v-03b808c2="" value="100" class="li">X100</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="item c-row c-row-middle">
                <div data-v-03b808c2="" role="checkbox" tabindex="0" aria-checked="true" class="van-checkbox">
                    <div class="van-checkbox__icon van-checkbox__icon--square van-checkbox__icon--checked">
                        <i
                            class="van-icon van-icon-success"
                            style="border-color: rgb(217, 172, 79); background-color: rgb(217, 172, 79);">
                        </i>
                    </div>
                    <span class="van-checkbox__label">
                        <div data-v-03b808c2="" class="agree p-r-15">I agree</div>
                    </span>
                </div><span data-v-03b808c2="" class="txt txt-qu-ytac">Pre-Selling Rules</span>
            </div>
        </div> 
        <div data-v-03b808c2="" class="foot c-row">
            <div data-v-03b808c2="" class="left canned"> Cancel </div>
            <div data-v-03b808c2="" class="right c-row c-row-middle-center confirm">
                <span data-v-03b808c2="" class="p-r-5">Total Amount</span>
                <span data-v-03b808c2="" value="" class="result">1</span>
                <span class="info-bet" xvalue="1" money="1"></span>
            </div>
        </div>
    </div>
</div>      <div class="van-overlay" style="z-index: 2001;display: none;"></div>
<div data-v-03b808c2="" class="van-popup van-popup--center pop-quytac" style="display: none;width: 80%; border-radius: 10px; max-width: 340px; z-index: 2002;"><div data-v-03b808c2="" class="rule-box"><div data-v-03b808c2="" class="title c-row c-row-middle-center">Rules</div><div data-v-03b808c2="" class="info"><div data-v-03b808c2="" class="comment"><div data-v-03b808c2=""><div data-v-03b808c2=""><p class="MsoNormal"><font face="宋体">In each Fast 3 lottery draw, there will be three numbers randomly drawn from 111 to 666, excluding the number 0. The drawn numbers are not in any specific order. Fast 3 is a game where you can guess all or part of the three winning numbers.</font></p><p class="MsoNormal"><font face="宋体">Total bet</font></p><p class="MsoNormal"><font face="宋体">Bet on the total sum of 3 dice</font></p><p class="MsoNormal"><font face="宋体">Bet on the entire set of 3 (numbers/dice/etc.)</font></p><p class="MsoNormal"><font face="宋体">The players place a bet on a group of identical triples, such as: (111, 222, ..., 666), covering all possible triples, and proceed with the betting</font></p><p class="MsoNormal"><font face="宋体">Bet on a single triple set</font></p><p class="MsoNormal"><font face="宋体">The player chooses one of all possible triple sets (111, ..., 666) and proceeds with the betting</font></p><p class="MsoNormal"><font face="宋体">Bet on two numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three numbers, including two specified pairs and one random number</font></p><p class="MsoNormal"><font face="宋体">Bet on two pairs + 1 single number</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three specified numbers, including two pairs and one other number.</font></p><p class="MsoNormal"><font face="宋体">Betting on 3 different numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on three completely different numbers</font></p><p class="MsoNormal"><font face="宋体">Bet on 2 different numbers</font></p><p class="MsoNormal"><font face="宋体">Place a bet on 2 different numbers + 1 other number combined in one betting ticket</font></p><p class="MsoNormal"><font face="宋体">Betting on 3 consecutive numbers</font></p><p class="MsoNormal"><font face="宋体">Betting is placed on the consecutive numbers [123, 234, 345, 456].<br></font><br></p></div></div><div data-v-03b808c2=""><!----></div><div data-v-03b808c2=""><!----></div><div data-v-03b808c2=""><!----></div></div><div data-v-03b808c2="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-03b808c2="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-03b808c2="" class="van-button__content"><span data-v-03b808c2="" class="van-button__text"><span data-v-03b808c2="">Rules</span></span></div></button></div></div></div></div>
<div data-v-03b808c2="" class="van-popup van-popup--center pop-quytac-buy" style="display: none;width: 80%; border-radius: 10px; max-width: 340px; z-index: 2016;"><div data-v-03b808c2="" class="rule-box"><div data-v-03b808c2="" class="title c-row c-row-middle-center">Pre-selling rules</div><div data-v-03b808c2="" class="info"><div data-v-03b808c2="" class="comment"> To protect the legitimate rights and interests of users participating in pre-selling and maintain the normal operation of pre-selling activities, the rules are established in accordance with relevant agreements and regulations of the law, as well as national provisions.

Chapter 1: Definitions
1.1 Pre-selling definition: Refers to the sales model in which the seller provides a product or service package to collect orders from consumers through pre-selling tools and delivers the goods or services to the buyer according to pre-agreed terms.
1.2 Pre-selling model is the "Consignment" model. The term "Consignment" refers to a fixed amount of pre-sold goods that are predetermined. "Consignment" can participate in small games and has the opportunity to gain more profits. The consigned amount can be directly exchanged for goods, but the consigned money cannot be used for exchange.
1.3 Pre-selling products: These are products provided by the seller using pre-selling tools. Only products labeled as pre-selling on the title or product detail page are considered pre-selling products. Other products that do not use pre-selling tools are not pre-selling products.
1.4 Pre-selling system: Refers to the system of pre-selling tools provided to support sales according to the pre-selling model.
1.5 Pre-selling price of goods: The price of the goods before the sale. The pre-selling price of goods includes two parts: the selling price and the payment. </div><div data-v-03b808c2="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-03b808c2="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-03b808c2="" class="van-button__content"><span data-v-03b808c2="" class="van-button__text"><span data-v-03b808c2="">I know</span></span></div></button></div></div></div></div>

<div data-v-7692a079="" data-v-806b9f0e="" class="Loading c-row c-row-middle-center" style="">
    <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="-webkit-animation-duration: 1s; animation-duration: 1s;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200" preserveAspectRatio="xMidYMid meet" style="width: 100%;height: 100%;transform: translate3d(0px, 0px, 0px);content-visibility: visible;">
                <g transform="matrix(-0.5984085202217102,0.8011911511421204,-0.8011911511421204,-0.5984085202217102,239.9599609375,79.72173309326172)" style="display: block;">
                    <image width="200px" height="200px" preserveAspectRatio="xMidYMid slice" xlink:href="/index_files/loadingspinner.png"></image>
                </g>
                <g transform="matrix(0.9408400058746338,0,0,0.9408400058746338,20.969436645507812,79.30152130126953)" style="display: block;">
                    <image width="168px" height="44px" preserveAspectRatio="xMidYMid slice" xlink:href="/logo.png"></image>
                </g>
            </svg>
        </span>
    </div>
</div>    </div>
  </div>
  <div id="c-popups" class="c-popups" style=" width: 268px;">
      <div class="header-section">
          <h2>How to play</h2>
      </div>
      <div class="middle-content-section">
          <div class="text">
                          <p>Fast 3 open with 3 numbers in each period as the opening number, The opening numb ers are 111 to 666 Natural number, No zero s in the array, And the opening numbers a re in no particular order, Quick 3 is to gue ss all or part of the 3 winning numbers.</p>
                              <p>Sum Value</p>
                              <p>Place a bet on the sum of three numbers</p>
                              <p>Choose 3 same number all</p>
                              <p>For all the same three numbers (111, 222, ... ,666) Make an all-inclusive bet</p>
                              <p>Choose 3 same number single</p>
                              <p>From all the same three numbers (11 1、 666) Choose a group of numbers in any of them to place bets</p>
                              <p>Choose 2 Same Multiple</p>
                              <p>Place a bet on two designated same numbe rs and an arbitrary number among the three numbers</p>
                              <p>Choose 2 Same Single</p>
                              <p>Place a bet on two designated same numbe rs and a designated different number amon g the three numbers</p>
                              <p>3 numbers different</p>
                              <p>Place a bet on three different numbers</p>
                              <p>2 numbers different</p>
                              <p>Place a bet on two designated different nu mbers and an arbitrary number among the t hree numbers</p>
                              <p>Choose 3 Consecutive number all</p>
                              <p>For all three consecutive numbers (123、2 34、345、456) Place a bet</p>
                              <p>Description of winning and odds:</p>
                              <p>Sum Value</p>
                              <p>A bet with the same opening number and va lue is the winning</p>
                              <p>Choose 3 same number all</p>
                              <p>If the opening numbers are any three of the same number, it is the winning</p>
                              <p>Choose 3 same number single</p>
                              <p>A bet that is exactly the same as the openin g number is the winning</p>
                              <p>Choose 2 Same Multiple</p>
                              <p>The same number as the two same number</p>
                              <p>The same number as the two same number s in the opening number (except for the thre e same numbers) is the winning</p>
                              <p>Choose 2 Same Single</p>
                              <p>A bet that is exactly the same as the opening</p>
                              <p>g number is the winning</p>
                              <p>3 numbers different</p>
                              <p>A bet that is exactly the same as the openin</p>
                              <p>g number is the winning</p>
                              <p>2 numbers different</p>
                              <p>The same as the two arbitrary numbers in t he opening number is the winning</p>
                              <p>Choose 3 Consecutive number all</p>
                              <p>If the opening numbers are any three conse</p>
                              <p>cutive numbers, it is the winning/&gt;
                      </p></div>
      </div>
      <div class="bottom-section com" style="text-align: center;">

          <button class="activity">close</button>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script src="/k3/js/main.js"></script>
  <script src="/k3/js/chuck.js"></script>
  <script>
      
    $(".open-c").click(function (e) {
      $(".c-popups").css("display", "block");
        $("#app").removeClass("over-lay")
    });
  
       $(".activity").click(function (e) {
      $(".c-popups").css("display", "none");
    });
  
  
    </script>
</body>

</html>