<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 39.4px;">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.png">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>57 Club</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet"> 

    <link rel="stylesheet" href="/HASH/assets/index.09a146d4.css">
    <link rel="stylesheet" href="/HASH/assets/index.74168ddf.css">
    <link rel="stylesheet" href="/HASH/assets/Tabbar.caeb7051.css">
    <link rel="stylesheet" href="/HASH/assets/ClaimExperienceFunds.ae3695bc.css">
    <link rel="stylesheet" href="/HASH/assets/BetStatus.f942056a.css">
    <link rel="stylesheet" href="/HASH/assets/index.08452298.css">
    <link rel="stylesheet" href="/HASH/assets/UserAvatar.09b469c8.css">
    <link rel="stylesheet" href="/HASH/assets/InviteUserAward.4a1a011b.css">
    </head>


<body theme="dark" class="">
<div id="app" data-v-app=""><div class="appMain en-US disable-select"><div class="van-config-provider"><div data-v-6cdf4b3e="" class="bg innnerAppwidth"><div class="van-nav-bar van-nav-bar--fixed van-safe-area-top" style="z-index: 111; background: transparent; backdrop-filter: blur(5px);"><div class="van-nav-bar__content"><div class="van-nav-bar__left van-haptics-feedback"><i class="ri-arrow-left-line text-[2.5rem] color-white"></i></div><div class="van-nav-bar__title van-ellipsis">Invitation Rewards</div><div class="van-nav-bar__right van-haptics-feedback"></div></div></div><div style="height: 4.6rem;"></div><img data-v-6cdf4b3e="" src="/HASH/assets/invitebg.3df9bf84.png" class="activityTopBg absolute top-0 left-0 w-full"><div data-v-6cdf4b3e="" class="title">Invite Rewards</div><div data-v-6cdf4b3e="" class="colorBg"><div data-v-6cdf4b3e="" class="text-center text-3xl b mb-10">Activity Rules</div><div data-v-6cdf4b3e="" class="ctx space-y-6"><div data-v-6cdf4b3e=""><b data-v-6cdf4b3e="">Rule 1</b><p data-v-6cdf4b3e="">Exclusive benefit for VIP members, contact customer service for immediate distribution</p></div><div data-v-6cdf4b3e=""><b data-v-6cdf4b3e="">Rule 2</b><p data-v-6cdf4b3e="">First recharge counts as valid membership</p></div><div data-v-6cdf4b3e=""><b data-v-6cdf4b3e="">Rule 3</b><p data-v-6cdf4b3e="">Rewards will be distributed at ₹10/person for invitations with less than 5 people</p></div><div data-v-6cdf4b3e=""><b data-v-6cdf4b3e="">Rule 4</b><p data-v-6cdf4b3e="">The more invitations, the higher the rewards. Contact customer service for exclusive benefits beyond the limit</p></div><div data-v-6cdf4b3e=""><b data-v-6cdf4b3e="">Rule 5</b><p data-v-6cdf4b3e="">Using improper means to exploit the activity will result in account suspension.PIXEL Group reserves the right of final interpretation</p></div><table data-v-6cdf4b3e=""><tbody data-v-6cdf4b3e=""><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="" colspan="2" class="text-center">Corresponding Tier Rewards</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">Invited First Deposit Count</td><td data-v-6cdf4b3e="">Total Rewards</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">5</td><td data-v-6cdf4b3e="">₹ 50</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">10</td><td data-v-6cdf4b3e="">₹ 130</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">25</td><td data-v-6cdf4b3e="">₹ 375</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">40</td><td data-v-6cdf4b3e="">₹ 640</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">60</td><td data-v-6cdf4b3e="">₹ 1020</td></tr><tr data-v-6cdf4b3e=""><td data-v-6cdf4b3e="">100</td><td data-v-6cdf4b3e="">₹ 2000</td></tr></tbody></table></div></div></div></div><div class="hidden"><audio id="dotRef"><source src="/mp3/dot.ogg" type="audio/ogg"><source src="/mp3/dot.mp3" type="audio/mpeg"></audio><audio id="successRef"><source src="/mp3/success.ogg" type="audio/ogg"><source src="/mp3/success.mp3" type="audio/mpeg"></audio></div><div class="van-back-top__placeholder"></div><div></div><div data-v-0462f2bd=""></div><!----></div></div>



</body>
</html>